:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 1107px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .inicio-1 {
    position: relative;
    width: 1440px;
    height: 78.952px; 
    margin: -2px 0 0 0;
    background: #aa0c13;
    z-index: 8;
  }
  .inicio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 37.398px;
    top: 33.243px;
    left: 1324px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 36.307px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .informacoes-de-agendamento {
    display: block;
    position: relative;
    height: 63.369px;
    margin: 59.214px 0 0 354px;
    color: #262323;
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .data-agendamento1 {
    position: relative;
    width: 1121px;
    height: 5.194px;
    margin: 21.816px 0 0 159px;
    background: #aa0c13;
    z-index: 7;
  }
  .data-agendamento {
    display: block;
    position: relative;
    height: 56.097px;
    margin: 138.166px 0 0 52px;
    color: #262323;
    font-family: Inter, var(--default-font-family);
    font-size: 45px;
    font-weight: 600;
    line-height: 54.46px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .foto-sala-1 {
    position: absolute;
    width: 683px;
    height: 591.1px;
    top: 477.944px;
    left: 641px;
    background: #d9d9d9;
    z-index: 10;
  }
  .foto-sala {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 63.369px;
    top: 263.865px;
    left: 170px;
    color: #262323;
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .sala {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 54.02px;
    top: 480.022px;
    left: 99px;
    color: #262323;
    font-family: Inter, var(--default-font-family);
    font-size: 45px;
    font-weight: 600;
    line-height: 54.02px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }
  .ellipse {
    position: absolute;
    width: 26px;
    height: 31px;
    top: 492px;
    left: 52px;
    background: url(https://static.codia.ai/image/2025-03-08/362cfd41-3ef2-43de-b368-479068b9da21.svg)
      no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  .h-h {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 56.097px;
    top: 614.032px;
    left: 99px;
    color: #262323;
    font-family: Inter, var(--default-font-family);
    font-size: 45px;
    font-weight: 600;
    line-height: 54.46px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .ellipse-3 {
    position: absolute;
    width: 26px;
    height: 30px;
    top: 628px;
    left: 52px;
    background: url(https://static.codia.ai/image/2025-03-08/a8d8aa91-9323-4bce-8584-20de28286aa5.svg)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .button-editar {
    position: absolute;
    width: 284px;
    height: 74.796px;
    top: 792.713px;
    left: 52px;
    background: #aa0c13;
    z-index: 13;
    border-radius: 7px;
    transition: transform 0.3s ease;
  }
 .button-editar:hover {
        background-color: #80090f;
        transform: scale(1.05); 
      }

  .editar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 63.369px;
    top: 6.233px;
    left: 61px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 60.511px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  